body {
    font-family: 'Times New Roman', Times, serif;
  }
  
html {
    position: relative;
    min-height: 100%;
  }
  
main {
    margin: 80px 0;
  }
  
.block {
    background-color:white;
    padding: 30px;
    margin-bottom: 30px;
    opacity: 90%;
  }
  
.blockh {
    color: darkgrey;
    font-family: Georgia, Times, "Times New Roman", serif;
    font-weight: bold;
  }
  
#logo {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
    font-weight: initial;
    color: grey;
    background: maroon;
  }
  
.navbar-default .navbar-nav > li > a:hover {
    color: red;
  }
.navbar {
    background: white;
    border: none;
  }
  
.connect-header {
    font-size: 25px;
  }
  
.connect-photo {
    width: 55px;
    height: 55px;
  }
  
#images {
    padding-top: 15px;
    text-align: center;
  }

.port-image {
    margin: 30px auto;
  }

.form-control {
    border-radius: 0;
    min-width: 100%;
    max-width: 100%;
  }
  
.submit-btn {
    padding: 15px 30px;
    font-size: 16px;
    font-weight: lighter;
    color: #fff;
    background-color: #4aaaa5;
    border: 0;
  }
  
.submit-btn:hover {
    opacity: 80%;
    
  }
  

  